
/*For SIGNUP COMPONENT*/
.form {
    width: 300px;
    height: auto;
    margin: 0 auto;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.form label:not(.btn--file) {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    font-weight: 700;
    font-size: .9em;
    font-family: var(--font-family-1);
    line-height: 20px;
}

.error-msg {
    display: inline-block;
    visibility: hidden;
    color: var(--danger);
    transition: .5s all;
}
.error-msg.show {
    visibility: visible;
}

.form label:not(:last-child) {
    margin-bottom: 5px;
}

.form label > .form-control {
    display: inline-block;
    width: 100%;
    padding: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid #a0a0a0;
    border-radius: 7px;
}

.check.radio {
    display: block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.check.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background: #eee;
}

.check:hover input ~ .checkmark {
    background: #ccc;
}

.check input:checked ~ .checkmark {
    background: var(--color2);
}

.checkmark:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32%;
    height: 32%;
    border-radius: 50%;
    background: #fff;
    display: none;
}

.check.radio input:checked ~ .checkmark:after {
    display: block;
}

.textarea {
    height: 180px;
}

/*Form Styles*/
.submit--btn,
.btn {      /*Likely general*/
    /* display: inline-block !important; */
    padding: 10px 15px;
    font: .9em var(--font-family);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.btn {
    background: #fff;
    color: var(--color2);
}

.submit--btn {
    background: var(--color2);
    color: #fff;
}

.submit--btn, .fa-paper-plane {
    justify-self: flex-end !important;
    align-self: flex-end !important;
}

/* .submit--btn {
    transform: translateX(-100%);
} */


.btn--file {
    position: relative;
    overflow: hidden;
    width: auto;
    border-radius: 4px;
    padding: 5px 20px;
    font-weight: 400;
    cursor: pointer;
    background: var(--color2);
    color: var(--white);
    font-weight: 500;
    font-family: var(--font-family-1);
    line-height: 20px;
}


.file_display > img {
    width: 100%;
    height: auto;
    z-index: -1;
}


.btn--file input[type="file"] {
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: none;
}

.submit--btn:hover {
    box-shadow: 3px 4px 10px #a0a0a0;
}

.submit--btn.isInvalid {
    cursor: not-allowed;
    opacity: .6;
}

.btn:hover {
    opacity: .6;
}

.search-box {
    position: relative;
    display: flex;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s all;
    background: #000;
}

.search {
    width: 200px;
    height: 100%;
    padding: 10px 25px 10px 15px;
    border-top-left-radius: inherit;
    border: none;
    font: 1.06em var(--font-family-1);
    background: #000;
    color: var(--white);
    font-weight: 400;
}

.search-btn {
    width: 30px;
    height: 30px;
    background: #000;
    color: var(--white);
    border-radius: inherit;
}

.fa-paper-plane {
    transform: rotate(45deg);
    cursor: pointer;
}


@media (max-width: 1199.98px) {
   
}


@media screen and (min-width: 1050px) {
    
}

@media screen and (min-width: 850px) {
    
}

@media screen and (max-width: 991.98px) {
    

    .search {
        width: 0px;
        padding: 0;
    }

    .search-box,
    .search-btn {
        background: inherit;
    }

    .search-btn {
        color: var(--color2);
    }

    .search-box:hover  {
        background: #000;
    }

    .search-box:hover .search {
        width: 150px;
    }

    .search-box:hover .search-btn {
        background: #fff;
        color: var(--color2);
        margin-right: 10px;
    }
}

@media screen and (max-width: 890px) {
    
    
}

@media screen and (max-width: 767.98px) {
    .form {
        width: 100% !important;
    }
}

@media screen and (max-width: 575.98px) {

}

@media screen and (max-width: 480px) {
   
  
}
