/*For Sidebar Component*/
:root {
    --sideBar-left-width: 250px;
    --sideBar-right-width: 250px;
}

.aside {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    transition: .5s all;
}
.aside .close {
    display: none;
}
.aside.left {
    width: var(--sideBar-left-width);
    background: var(--dark);
    left: 0;
}

.aside.right {
    width: var(--sideBar-right-width);
    background: var(--white);
    right: 0;
}

.sidebar--link-text {
    color: var(--white);
    font-family: var(--font-family-1);
    font-weight: 400;
}

/*Online User component*/

/* .online {
    position: absolute;
    left: 55%;
    bottom: 0%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid var(--white);
    background: green;
} */

.username {
    font-weight: 600;
}

/*End of SideBar Component*/

@media (max-width: 1199.98px) {
    .aside.right,
    .aside.left {
        top: 0;
        width: 0px;
        z-index: 3;
    }

    .aside .close {
        display: inline-block;
    }

    .aside.left .close,
    .aside.right .close {
        position: absolute;
        top: 5px;
    }


    .aside .close {
        right: 15px;
    }

    .aside.left.show {
        width: var(--sideBar-left-width);
        box-shadow: 0px 7px 5px -5px #a0a0a0
    }

    .aside.right.show {
        width: var(--sideBar-right-width);
        box-shadow: 0px -17px 25px -5px #a0a0a0
    }
}


@media screen and (min-width: 1050px) {
    
}

@media screen and (min-width: 850px) {

}

@media screen and (max-width: 991.98px) {
 

}

@media screen and (max-width: 890px) {
    
    
}

@media screen and (max-width: 767.98px) {

}

@media screen and (max-width: 575.98px) {
 
}

@media screen and (max-width: 480px) {

  
}
