.modalRoot {
    position: fixed;
    top: 0;
    right: 0;
    background: #00000086;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    transition: .5s all;
}
.modal--wrapper {
    position: relative;
    /* background: #ff680d; */
}
/*For MODAL COMPONENT*/

.modal--box {
    position: fixed;
    opacity: 0;
    left: 50%;
    top: 50%;
    width: auto;
    max-width: 70%;
    transform: translate(-50%, 50%) scale(0);
    max-height: 600px;
    height: auto;
    background: var(--white);
    border-radius: 15px;
    box-shadow: 3px 4px 4px #a8a6a6,
                -3px -4px 4px #b9b5b5;
    z-index: 99;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease-in;
}

.modal--heading {
    font-family: var(--font-family-1);
    color: var(--color2);
    font-size: 1.1em;
    text-align: left;
    text-transform: capitalize !important;
    padding: 0 20px 30px 0;
}

.modal--box.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.modal--box .close {
    right: 20px;
    font-weight: 700;
    color: var(--dark);
    cursor: pointer;
    border-radius: 50%;
}

.modal-content--btn,
.modal--box .close {
    position: absolute;
    top: 10px;
    padding: 5px 10px;
}
.modal-content--btn {
    left: 20px;
}

.modal--box > .close:hover {
    background: #a0a0a057;
}
/*END OF MODAL COMPONENT*/


@media (max-width: 1199.98px) {

}


@media screen and (min-width: 1050px) {
   

}
@media screen and (min-width: 850px) {
   
}

@media screen and (max-width: 991.98px) {

}

@media screen and (max-width: 890px) {
    

    
}

@media screen and (max-width: 767.98px) {
    .modal--box {
        width: 100%;
        max-width: 100%;
        height: 97%;
    }

}

@media screen and (max-width: 575.98px) {
  
}

@media screen and (max-width: 480px) {

}